<div class="grey-line mbs animated" data-gen="fadeInUp">
    <div class="row clearfix">
        <h3 class="col-title"> Our Products </h3><span class="liner"></span>

        <div class="portfolio-carousel">
            <div class="anyClass">
                <ul>
                    <li>
                        <div class="hover-fx">
                            <img src="{{ STATIC_URL }}site/images/products/product-10-L.png" alt="#" width="250" height="180">
                            <a class="fRight" href="{{ STATIC_URL }}site/images/products/product-10-L.png" data-gal="lightbox"
                               title="This model is with water jacket. Waste capacity per day is 10
                                liters.Space required 10 sq.ft. Gas produced average 1 hr per day.">
                                <span><i class="icon-eye-open"></i></span>
                            </a>
                        </div>
                        <div class="detailes">
                            <h5><a href="#">Model: 10 L</a></h5>

                            <p>Gas produced average 1 hr per day.</p>
                        </div>
                    </li>
                    <!-- portfolio item -->

                    <li>
                        <div class="hover-fx">
                            <img src="{{ STATIC_URL }}site/images/products/product-20-L.png" alt="#" width="250" height="180">
                            <a class="fRight" href="{{ STATIC_URL }}site/images/products/product-20-L.png" data-gal="lightbox"
                               title="This model is with water jacket. Waste capacity per day is 20 liters.Space required
                                16 sq.ft. Gas produced average 2 hr per day.">
                                <span><i class="icon-eye-open"></i></span>
                            </a>
                        </div>
                        <div class="detailes">
                            <h5><a href="#">Model: 20 L</a></h5>

                            <p>Gas produced average 2 hr per day.</p>
                        </div>
                    </li>
                    <!-- portfolio item -->

                    <li>
                        <div class="hover-fx">
                            <img src="{{ STATIC_URL }}site/images/products/product-30-L.png" alt="#" width="250" height="180">
                            <a class="fRight" href="{{ STATIC_URL }}site/images/products/product-30-L.png" data-gal="lightbox"
                               title="This model is with water jacket. Waste capacity per day is 40 liters.Space required
                                24 sq.ft. Gas produced average 3.5 hr per day.">
                                <span><i class="icon-eye-open"></i></span>
                            </a>
                        </div>
                        <div class="detailes">
                            <h5><a href="#">Model: 40 L</a></h5>

                            <p>Gas produced average 3.5 hr per day.</p>
                        </div>
                    </li>
                    <!-- portfolio item -->

                    <li>
                        <div class="hover-fx">
                            <img src="{{ STATIC_URL }}site/images/products/product-120-L.png" alt="#" width="250" height="180">
                            <a class="fRight" href="{{ STATIC_URL }}site/images/products/product-120-L.png" data-gal="lightbox"
                               title="This model is with water jacket. Waste capacity per day is 120 liters.Space required
                                50 sq.ft. Gas produced average 6 -7 hrs per day.">
                                <span><i class="icon-eye-open"></i></span>
                            </a>
                        </div>
                        <div class="detailes">
                            <h5><a href="#">Model: 120 L</a></h5>

                            <p>Gas produced average 6 -7 hrs per day.</p>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="preve"><i class="icon-angle-left"></i></div>
            <!-- portfolio carousel left -->
            <div class="nexte"><i class="icon-angle-right"></i></div>
            <!-- portfolio carousel right -->
        </div>
        <!-- portfolio carousel -->
    </div>
    <!-- row -->
</div>