
    <!-- Start Revolution Slider -->
    <div class="sliderr">
        <div class="fullwidthbanner-container">
            <div class="revolution">
                <ul>
                    <li data-transition="random" data-slotamount="7" data-masterspeed="300">
                        <img src="{{ STATIC_URL }}site/images/slider/one.png" alt="" data-fullwidthcentering="true">
                    </li>

                    <li data-transition="random" data-slotamount="7" data-masterspeed="300">
                        <img src="{{ STATIC_URL }}site/images/slider/two.png" alt="bg2">

                    </li>

                    <li data-transition="random" data-slotamount="7" data-masterspeed="300">
                        <img src="{{ STATIC_URL }}site/images/slider/three.png" alt="bg3">
s                    </li>

                    <li data-transition="random" data-slotamount="7" data-masterspeed="300">
                        <img src="{{ STATIC_URL }}site/images/slider/four.png" alt="" data-fullwidthcentering="true">
                   </li>

                </ul>

                <!-- End Slides -->
                <div class="tp-bannertimer"></div>
                <!-- Timer -->
            </div>
        </div>
    </div>
    <!-- End Revolution Slider -->