<div style="position: relative; max-width: 80%; max-height: 750px; padding-top: 20px; width: auto; margin: 0 auto;">
    <div id="bar-timer">
        <div id="cute-slider" class="cute-slider" data-width="1010" data-height="374" data-force="">
            <ul data-type="slides">

                <li data-delay="4" data-trans3d="tr63" data-trans2d="tr1,tr14,tr26">
                    <img src="{{ STATIC_URL }}site/images/slider/1-850.jpg"
                         data-thumb="{{ STATIC_URL }}site/images/slider/1-150.jpg"/>
                </li>

                <li data-delay="4" data-trans3d="tr64" data-trans2d="tr1,tr14,tr26">
                    <img src="{{ STATIC_URL }}site/3d-slider/templates/text-block/cute-theme/blank.jpg"
                         data-src="{{ STATIC_URL }}site/images/slider/2-850.jpg"
                         data-thumb="{{ STATIC_URL }}site/images/slider/2-150.jpg"/>
                </li>

                <li data-delay="4" data-trans3d="tr35" data-trans2d="tr1,tr14,tr26">
                    <img src="{{ STATIC_URL }}site/3d-slider/templates/text-block/cute-theme/blank.jpg"
                         data-src="{{ STATIC_URL }}site/images/slider/3-850.jpg"
                         data-thumb="{{ STATIC_URL }}site/images/slider/3-150.jpg"/>
                </li>

                <li data-delay="4" data-trans3d="tr36" data-trans2d="tr1,tr14,tr26">
                    <img src="{{ STATIC_URL }}site/3d-slider/templates/text-block/cute-theme/blank.jpg"
                         data-src="{{ STATIC_URL }}site/images/slider/4-850.jpg"
                         data-thumb="{{ STATIC_URL }}site/images/slider/4-150.jpg"/>
                </li>

                <li data-delay="4" data-trans3d="tr62" data-trans2d="tr1,tr14,tr26">
                    <img src="{{ STATIC_URL }}site/3d-slider/templates/text-block/cute-theme/blank.jpg"
                         data-src="{{ STATIC_URL }}site/images/slider/5-850.jpg"
                         data-thumb="{{ STATIC_URL }}site/images/slider/5-150.jpg"/>
                </li>
            </ul>

            <ul data-type="controls">
                <li data-type="slideinfo" data-effect="fade"></li>
                <li data-type="bartimer"></li>
                <li data-type="video"></li>
                <li data-type="next"></li>
                <li data-type="previous"></li>
                <li data-type="slidecontrol" data-thumbalign="up"></li>
            </ul>

        </div>
        <div class="br-shadow"><img src="{{ STATIC_URL }}site/3d-slider/templates/text-block/cute-theme/shadow.png"/></div>
    </div>
</div>