<!DOCTYPE html>
<html>
<head>
    <title>Contact Us Email</title>
</head>
<body style="background: #eeeeee; padding: 25px 0;">
<div id="bg"
     style="background: url('http://farm9.staticflickr.com/8208/8216995379_0b2ac18f74_m.jpg'); padding:15px; width: 800px; margin: 0 auto;">
    <div id="container">
        <div id="header"
             style="padding: 5px; background: #ffffff;">
            <h1 style="padding-left: 15px;">Contact Us Email</h1>
        </div>
        <div id="contents" style="background: #ffffff; padding-bottom: 50px;">
            <div class="row" style="padding: 10px; margin-bottom:15px;">
                <div class="left"
                     style="font-weight:bold; width: 90px; float:left; text-align: right; padding-right: 10px;">
                    Name :
                </div>
                <div class="right" style=" float:left;">{{ name }}</div>
                <div class="clear" style="clear: both;"></div>
            </div>
            <div class="row" style="padding: 10px; margin-bottom:15px;">
                <div class="left"
                     style="font-weight:bold; width: 90px; float:left; text-align: right; padding-right: 10px;">
                    Email :
                </div>
                <div class="right" style=" float:left;"><a href="mailto:{{ email }}">{{ email }}</a></div>
                <div class="clear" style="clear: both;"></div>
            </div>

            <div class="row" style="padding: 10px; margin-bottom:15px;">
                <div class="left"
                     style="font-weight:bold; width: 90px; float:left; text-align: right; padding-right: 10px;">
                    Message :
                </div>
                <div class="right" style=" float:left;">{{ message|linebreaksbr }}</div>
                <div class="clear" style="clear: both;"></div>
            </div>
            <div class="row" style="padding: 10px; margin-bottom:15px;">
                <div class="left"
                     style="font-weight:bold; width: 90px; float:left; text-align: right; padding-right: 10px;">
                    IP Address :
                </div>
                <div class="right" style=" float:left;">{{ ip_address }}</div>
                <div class="clear" style="clear: both;"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>