<div class="extrabox">
    <div class="row clearfix">
        <div class="extra-content">
            <div class="grid_8">
                <div id="map1" class="official-map"></div>
            </div>
            <!-- grid 8 -->

            <div class="grid_4">
                <h3 class="col-title"> Quick Contact </h3><span class="liner"></span>

                <div class="widget-content">
                    <form method="post" id="contactForm-widget" action="{% url "site-contact" %}">
                        <div class="clearfix">
                            <div class="grid_6 alpha fll"><input type="text" name="senderName" id="senderName"
                                                                 placeholder="Name *" class="requiredField"/></div>
                            <div class="grid_6 omega flr"><input type="text" name="senderEmail" id="senderEmail"
                                                                 placeholder="Email Address *"
                                                                 class="requiredField email"/></div>
                        </div>
                        <div><textarea name="message" id="message" placeholder="Message *" class="requiredField"
                                       rows="6"></textarea></div>
                        <input type="submit" id="sendMessage" name="sendMessage" value="Send Email"/>
                        <span>  </span>
                    </form>
                    <!-- end form -->
                </div>
                <!-- widget content -->
            </div>
            <!-- grid 4 -->
        </div>
        <!-- extra content -->

        <div class="arrow-down"><i class="icon-angle-down"></i></div>
        <!-- arrow down -->
    </div>
    <!-- end row -->
</div>
<!-- end extrabox -->