<footer id="footer">
    <div class="row clearfix">
        <div class="grid_3 animated" data-gen="bounceInLeft">
            <h3 class="col-title">Our Vision</h3><span class="liner"></span>

            <div class="widget-content">
                <p>To make India a zero waste country through various projects.FRD Biomech is dedicated to make all the
                    renewable resources into useful energy.</p>
            </div>
        </div>
        <div class="grid_6 animated" data-gen="bounceInDown">
            <h3 class="col-title"><i class="icon-map-marker mi"></i> Address</h3><span class="liner"></span>

            <div class="grid_6">

                <div class="widget-content">
                    <i class="icon-map-marker mi"></i> <strong>Reg.Off</strong> <br/>
                    (Under Renovation- Administrative Office) <br/>
                    Building No: 315/1, <br/>
                    Canal Road, <br/>
                    Mannuthy, <br/>
                    Trissur, <br/>
                    KL IN - 680 651 <br/>
                </div>
            </div>
            <div class="grid_6">
                <div class="widget-content">
                    <i class="icon-map-marker mi"></i> <strong>Godown Off:</strong> <br/>
                    (Display Office) <br/>
                    Plot No: 185, <br/>
                    Nehru Nagar, <br/>
                    Kuriachira, <br/>
                    Trissur, <br/>
                    KL IN - 680 006 <br/>
                </div>
            </div>
        </div>
        <div class="grid_3 animated" data-gen="bounceInRight">
            <h3 class="col-title"><i class="icon-phone mi"></i> Contact Numbers</h3><span class="liner"></span>

            <div class="widget-content">
                <strong>Office: </strong> <a href="tel:+914872254100">+91 4872254100</a> <br/>
                <strong>Office: </strong> <a href="tel:+914873294100">+91 4873294100</a> <br/>
                <strong>Mobile: </strong> <a href="tel:+918129366200">+91 8129366200</a> <br/>
                <strong>Mobile: </strong> <a href="tel:+918129366300">+91 8129366300</a> <br/>
                <strong>Mobile: </strong> <a href="tel:+918893466400">+91 8893466400</a> <br/>
                <strong>Toll Free: </strong> <a href="tel:180030003900">1800 3000 3900</a> <br/>
            </div>
        </div>
        <!-- grid 3 -->
    </div>
    <!-- row -->
{% load visits %}
    <div class="footer-last row mtf clearfix">
        <span class="copyright">© 2013 FRD Group. All Rights Reserved. (Total {% visits %} visits)</span>

        <div class="foot-menu">
            <ul>
                <li><a href="{% url "site-home" %}">Home</a></li>
                <li><a href="{% url "site-projects" %}">Projects</a></li>
                <li><a href="{% url "site-products" %}">Products</a></li>
                <li><a href="{% url "site-gallery" %}">Gallery</a></li>
                <li><a href="{% url "site-products" %}">FAQ</a></li>
                <li><a href="{% url "site-contact" %}">Contact</a></li>
            </ul>
            <!-- end links -->
        </div>
        <!-- end foot menu -->

    </div>
    <!-- end last footer -->

</footer>
<!-- end footer -->