<header id="header" class="header_v2 header_v9">
    {% include "site/includes/extra-box.html" %}
    <div class="head my_sticky">
        <div class="row clearfix">
            <div class="logo">
                <a href="{% url 'site-home' %}" title="FRD Biomech Private Limited">
                    <img src="{{ STATIC_URL }}site/images/logo_white.png" alt="FRD Biomech Private Limited">
                </a>
            </div>
            <nav>
                <ul class="sf-menu">
                    <li><a href="{% url 'site-home' %}">Home</a></li>
                    <li><a href="{% url "site-projects" %}">Projects</a></li>
                    <li><a href="{% url "site-products" %}">Products</a></li>
                    <li><a href="{% url "site-gallery" %}">Gallery</a></li>
                    <li><a href="{% url 'site-faq' %}">FAQ</a></li>
                    <li><a href="{% url "site-contact" %}">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
