.cute-slider{
	position: relative;	z-index: 1;
}

.cute-slider img {
    max-width: none;
}

.cute-ie8 * {filter: inherit; opacity: inherit;}

.slider-title,
.slider-text { color: #fff; }

.slider-title { font-size: 16px; font-weight: bold; }

.cute-slider ul li img {
    background: none !important;
    border: none !important;
    height: auto;
    max-width: none !important;
    padding: 0 0 0 0 !important;
}

/* -------------------------------------
 * Slider Controls
 * ------------------------------------*/
 
.cute-ie  .br-next, .cute-ie  .br-previous,
.cute-ie  .br-slidecontrol,.cute-ie .br-video .play-btn ,
.cute-ie .br-thumb-bottom ,.cute-ie .br-thumb-up{filter: inherit !important;}
.cute-ie  .br-timer-glow  {display:none;}
.cute-ie7  .br-control-selected ,.cute-ie8  .br-control-selected {	background-color:white !important;}
 
 
.br-controls {
	position:absolute;
	z-index: 10;
	background-image: url("../cute-theme/trans.png");
}

.br-next , .br-previous{
	position: absolute;
	width: 24px;
	height: 24px;
	bottom: 17px;
	left: 42px;
	margin-top: -17px;
	background: url("../cute-theme/controls.png") -106px -120px white;

	-webkit-transition: background-color 130ms;
	  -moz-transition : background-color 130ms;
	    -ms-transition: background-color 130ms;
	     -o-transition: background-color 130ms;
	        transition: background-color 130ms;
}

.br-next:hover , .br-previous:hover{
	background-color: #666;
}

.br-previous{
	left: 17px;
	background-position:-121px 27px;
}

.br-slidecontrol{
	position: absolute;
	list-style: none;
	bottom: 20px;
	right: 30px;
	z-index: 10;
}

	.br-slidecontrol ul li{
		display: block;
		position:relative;
		margin:2px;
		float:left;
		width:14px;
		height: 15px;
		background: url("../cute-theme/controls.png") -113px -14px;
	}
	
	.br-slidecontrol ul li .br-control-selected{
		display: block;
		width:14px;
		height: 15px;
		background: url("../cute-theme/controls.png") -92px -14px;
	}


.br-thumb-bottom {
	left: -36px;
	position: relative;
}

.br-thumb-up {
	left: -36px;
	top:-143px;
	position: relative;
}

	.br-thumb-bottom .br-thumb-frame { 
		background: url("../cute-theme/thumb-frame.png") -0px -7px;
		width: 92px;
		height: 95px;
	}
	
	.br-thumb-up .br-thumb-frame { 
		background: url("../cute-theme/thumb-frame.png") -89px 1px;
		width: 92px;
		height: 95px;
	}
	
	.br-thumb-bottom .br-thumb-img , .br-thumb-up .br-thumb-img{ 
		position:absolute;
		top: 17px;
		left: 15px;
		width:60px;
		height:60px;
	}

.br-slideinfo{
	position: relative !important;
}

.br-slideinfo .br-infocontent{
	background: url("../cute-theme/dark-info-pat.png");
	font-size: 12px;
	text-shadow: black 1px 1px;
	color: white;
	position :absolute !important;
	bottom:0;
	top: 0;
	right:0;
	height:auto !important;
	margin:17px
}

	.br-slideinfo .right , .br-slideinfo .left{
		width:230px;
		height: 100%;
	}
	
	.br-slideinfo .info1 div{
		padding: 20px;
		position: absolute;
		top: 0;
		bottom: 46px;
		overflow: hidden;
	}
	
	.br-slideinfo .info1 .title{
		font-weight: 700;
		font-size: 19px;
	}
	
	.br-slideinfo .info1 .text{
		line-height: 152%;
	}

	
/* -------------------------------------
 * Slider Timer
 * ------------------------------------*/

.br-circle-timer {
	position: absolute;
	top: 6px;
	left: 6px;
	width: 28px;
	height: 28px;
}

	.br-circle-timer .br-timer-dot {
		width:11px;
		height: 13px;
		background: url("../cute-theme/controls.png") -134px -15px;
	}

.br-bar-timer{
	height: 6px;
	position:absolute;
	bottom:0px;
}

	.br-bar-timer .br-timer-glow{
	 	height: 7px;
		background: url("../cute-theme/light-timer-glow.png");
		width: 104px;
	}
	 
	.br-bar-timer .br-timer-bar{
	 	height: 2px;
		background-color: white;
		position: absolute;
		top: 4px;
	}


/* -------------------------------------
 * Slider Captions
 * ------------------------------------*/

.br-captions .br-caption-content {

}

	.br-captions .caption{
		position: absolute;
	}

/* -------------------------------------
 * Slider Video
 * ------------------------------------*/

.br-video {
	position: absolute; top: 0px; left: 0px;
}

	.br-video .play-btn{
		width: 43px;
		height: 43px;
		background: url("../cute-theme/controls.png") no-repeat -3px -44px;
		cursor: pointer;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -21px 0 0 -21px;
	}
	
	.br-video .close-btn{
		width: 22px;
		height: 22px;
		background: url('../cute-theme/controls.png') no-repeat 0px -123px black;
		cursor: pointer;
		position: absolute;
		right: 6px;
		top: 6px;
		border: solid 1px #5E5C5C;
		z-index: 99999;
	}

	.br-video .video-cont{
		background: black;
		position:absolute;
		z-index: 2;
		width:100%;
		height:100%;
	}

/* -------------------------------------
 * Slider Shadow
 * ------------------------------------*/

.br-shadow { position: relative; z-index: 0; margin-top: -8px; }

.br-shadow img { width: 100%; box-radius: none !important; box-shadow: none !important; background: none !important; border: none !important;   padding: 0 0 0 0 !important; }

/* -------------------------------------
 * Slider Loading
 * ------------------------------------*/

.br-loading {
	width: 23px;
	height: 23px;
	background: url("../cute-theme/controls.png") 150px -94px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -11px;
	z-index: 101;
}

	.br-loading .img{
		width:21px;
		height:21px;
		background: url("../cute-theme/small-loading.gif") no-repeat center;	
	}

.br-large-loading {
	width: 43px;
	height: 43px;
	background: url("../cute-theme/controls.png") -92px -42px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -21px;
	z-index: 100;
}

	.br-large-loading .img{
		width:40px;
		height:40px;
		background: url("../cute-theme/large-loading.gif") no-repeat center;	
	}

.sramekdesign3dslider { position: relative; }
.br-link { position: absolute !important; top: 0px !important; left: 0px !important; display: block; width: 100% !important; height: 100% !important; }
