<!DOCTYPE html>
<!--[if IE 7 ]>
<html class="ie7" lang="en"><![endif]-->
<!--[if IE 8 ]>
<html class="ie8" lang="en"><![endif]-->
<!--[if IE 9 ]>
<html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US"><!--<![endif]-->
<head>
    {% spaceless %}

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

        {% block seo %}
            <title>Biogas Plant, Thrissur, Kerala, India| FRD Biomech Private Limited: Portable biogas plant services, waste management</title>
            <meta name="description"
                  content="FRD Biomech: waste management services kerala, gas from waste services, portable biogas plant provider in thrissur, kerala, India, Gas from waste services in Kerala, Biogas plant services in Kerala, Biogas in india"/>
            <meta name="keywords" content="biogas, plant, provider, portable, services, waste, management, gas, kerala, thrissur, india, in, from"/>
            <meta name="author" content="www.frdgroup.co.in"/>
            <meta name="rating" content="website"/>
            <meta name="geo.region" content="INDIA"/>
            <meta name="geo.placename" content="Kerala"/>
            <meta name="ROBOTS" content="index, follow"/>
        {% endblock %}

        <meta name="google-site-verification" content="0mx8k_UfC9T_vN5oWaCOfsdWuXYa13LLiB7zJ-S8Qlo"/>

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}site/bootstrap/css/bootstrap.min.css" media="screen"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}site/styles/main.min.css" media="screen"/>

        {#    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}site/styles/style.css" media="screen"/>#}
        {#    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}site/styles/icons.css" media="screen"/>#}
        {#    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}site/styles/animate.css" media="screen"/>#}
        {#    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}site/js/rs-plugin/css/settings.css" media="screen"/>#}
        {#    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}site/3d-slider/templates/text-block/style/slider-style.css" media="screen"/>#}
        {#    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}site/styles/responsive.css" media="screen">#}

        <link href='http://fonts.googleapis.com/css?family=Marcellus' rel='stylesheet' type='text/css'>
        {##}
        {#    <!-- More Styles -->#}
        {#    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}site/colors/green_sea.css" media="screen" class="green_sea">#}
        {#    <!-- Custom Styles -->#}

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ STATIC_URL }}site/images/favicon.ico">
        <link rel="apple-touch-icon" href="{{ STATIC_URL }}site/images/apple-touch-icon.png">

        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EmulateIE8; IE=EDGE" />
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}site/js/excanvas.min.js"></script>
    <![endif]-->
    {% endspaceless %}
</head>
<body>
<div id="frame_">
    {% spaceless %}

        <div id="layout" class="full">
            {% include "site/includes/header.html" %}
            {% block bread-crumb %}

            {% endblock %}
            {% block contents %}

            {% endblock %}
            <!-- row -->

            <!-- grey line -->
            {% include "site/includes/footer.html" %}

        </div>
        <!-- end layout -->
    {% endspaceless %}
</div>
<div id="tollFree" class="showtt"><i class="icon-phone"><a href="tel:180030003900">Toll Free : 1800 3000 3900</a></i></div>
<div id="toTop"><i class="icon-angle-up"></i></div>
{% spaceless %}

    <script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/js/modernizr.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}site/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

    {#<script type="text/javascript" src="{{ STATIC_URL }}site/js/rs-plugin/pluginsources/jquery.themepunch.plugins.min.js"></script>#}
    {#<script type="text/javascript" src="{{ STATIC_URL }}site/js/theme20.js"></script>#}
    {#<script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery.prettyPhoto.js"></script>#}
    {#<script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery.flexslider-min.js"></script>#}
    {#<script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery.knob.js"></script>#}
    {#<script type="text/javascript" src="{{ STATIC_URL }}site/js/jquery.nicescroll.min.js"></script>#}
    {#<script type="text/javascript" src="{{ STATIC_URL }}site/js/gmap3.js"></script>#}
    {#<script type="text/javascript" src="{{ STATIC_URL }}site/js/custom.js"></script>#}
    {#<script type="text/javascript" src="{{ STATIC_URL }}site/js/django-ajax-csrf.js"></script>#}

    <script type="text/javascript" src="{{ STATIC_URL }}site/js/main.min.js"></script>

    {% block extra-scripts %}

    {% endblock %}
    <script type="text/javascript">
        jQuery(function () {
            // Very Big Map
            var map_elem = jQuery("#map1");
            if (map_elem[0]) {
                var myLatlng_godown = new google.maps.LatLng(10.500646, 76.232628);
                var mapOptions = {
                    zoom : 16,
                    center : myLatlng_godown
                }

                var map = new google.maps.Map(map_elem[0], mapOptions);

                var marker_godwn = new google.maps.Marker({
                    position : myLatlng_godown,
                    map : map,
                    title : 'Godown Office (Display Office)',
                    icon : '{{ STATIC_URL }}site/images/map/godown.png'
                });

                map_elem.height(310);
            }
        });
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-46609465-1', 'frdgroup.co.in');
        ga('send', 'pageview');

    </script>
{% endspaceless %}
<!-- Powered by Xeoscript Technologies -->
</body>
</html>
