{% extends "site/base.html" %}

{% block title %}Contacts{% endblock %}
{% block contents %}

    <div id="very-big-map" class="official-map"></div>

    <div class="page-content">
        <div class="row clearfix mbs">
            <div class="grid_8 righter">

                <div class="clearfix">
                    <h3 class="col-title"> Contact Us </h3><span class="liner"></span>

                    <p>Leave us a message.!</p>

                    <form method="post" id="contactForm" action="{% url "site-contact" %}">
                        <div class="clearfix">
                            <div class="grid_6 alpha fll"><input type="text" name="senderName" id="senderName" placeholder="Name *"
                                                                 class="requiredField"/></div>
                            <div class="grid_6 omega flr"><input type="text" name="senderEmail" id="senderEmail" placeholder="Email Address *"
                                                                 class="requiredField email"/></div>
                        </div>
                        <div><textarea name="message" id="message" placeholder="Message *" class="requiredField" rows="8"></textarea></div>
                        <input type="submit" id="sendMessage" name="sendMessage" value="Send Email"/>
                        <span>  </span>
                    </form>
                    <!-- end form -->
                </div>
                <!-- clearfix -->

            </div>
            <!-- grid 8 posts -->

            <div class="grid_4 sidebar">

                <div class="widget">
                    <h3 class="col-title"> Get in Touch </h3><span class="liner"></span>

                    <div class="widget-content">
                        <p>
                            Office: <strong><a href="tel:+914872254100">+91 4872254100</a></strong> <br/>
                            Office: <strong><a href="tel:+914873249100">+91 4873249100</a></strong> <br/>
                            Mobile: <strong><a href="tel:+918129366200">+91 8129366200</a></strong> <br/>
                            Mobile: <strong><a href="tel:+918129366300">+91 8129366300</a></strong> <br/>
                            Mobile: <strong><a href="tel:+918893466400">+91 8893466400</a></strong> <br/>
                            Toll Free: <strong><a href="tel:180030003900">1800 3000 3900</a></strong> <br/>
                        </p>
                    </div>
                    <!-- widget content -->
                </div>

                <div class="widget">
                    <div class="widget-content">
                        <p>
                            <i class="icon-map-marker mi"></i> <strong>Reg.Off</strong> <br/>
                            (Under Renovation- Administrative Office) <br/>
                            Building No: 315/1, <br/>
                            Canal Road, <br/>
                            Mannuthy, <br/>
                            Trissur, <br/>
                            KL IN - 680 651 <br/>
                        </p>
                    </div>
                    <!-- widget content -->
                </div>

                <div class="widget">
                    <div class="widget-content">
                        <p>
                            <i class="icon-map-marker mi"></i> <strong>Godown Off:</strong> <br/>
                            (Display Office) <br/>
                            Plot No: 185, <br/>
                            Nehru Nagar, <br/>
                            Kuriachira, <br/>
                            Trissur, <br/>
                            KL IN - 680 006 <br/>

                            <strong>Working Time</strong>
                            <span>10 AM to 5 PM</span>
                        </p>
                    </div>
                    <!-- widget content -->
                </div>


                <div class="widget">
                    <div class="widget-content">
                        <p>
                            <strong>Credit Cards Accepted</strong> <br/>
                            <img src="{{ STATIC_URL }}site/images/visa.jpg" alt="" style="max-width: 50%;"/>
                        </p>
                    </div>
                    <!-- widget content -->
                </div>

            </div>
            <!-- grid 4 sidebar -->

        </div>
        <!-- row -->
    </div><!-- end page content -->
{% endblock %}

{% block extra-scripts %}
    <script type="text/javascript">
        jQuery(function () {
            // Very Big Map
            var map_big = jQuery("#very-big-map");
            if (map_big[0]) {
                var myLatlng_office = new google.maps.LatLng(10.537549225959705, 76.25672578811646);
                var myLatlng_godown = new google.maps.LatLng(10.500646, 76.232628);
                var mapOptions = {
                    zoom : 16,
                    center : myLatlng_godown
                }

                var map = new google.maps.Map(map_big[0], mapOptions);

                var marker_regd = new google.maps.Marker({
                    position : myLatlng_office,
                    map : map,
                    title : 'Regd Office!',
                    icon : '{{ STATIC_URL }}site/images/map/office.png'
                });

                var marker_godwn = new google.maps.Marker({
                    position : myLatlng_godown,
                    map : map,
                    title : 'Godown Office (Display Office)',
                    icon : '{{ STATIC_URL }}site/images/map/godown.png'
                });

                map_big.height('300');
            }
        });
    </script>
{% endblock %}
