{% extends  "site/base.html" %}

{% block title %}FAQ{% endblock %}
{% block bread-crumb %}

    <div class="breadcrumb-place">
        <div class="row clearfix">
            <h3 class="page-title"> F.A.Q's </h3>

            <div class="breadcrumbIn">
                <span> You are here: </span>
                <ul>
                    <li><a href="{% url "site-home" %}" title="Homepage"> <i class="icon-home"></i> </a></li>
                    <li> F.A.Q's</li>
                </ul>
            </div>
            <!-- breadcrumbIn -->
        </div>
        <!-- row -->
    </div>
    <!-- breadcrumb -->

{% endblock %}
{% block contents %}
    <div class="page-content">
    <div class="row clearfix mbs">

    <div class="grid_9 righter">
    <h3 class="col-title"> GOT QUESTIONS? WE’VE GOT ANSWERS! </h3><span class="liner"></span>

    <ul class="tt-accordion faq">
    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Biogas:</p>
        </div>
        <div class="accordion-content">
            Biogas typically refers to a gas produced by the biological breakdown of organic matter in the
            absence of oxygen. Biogas originates from biogenic material and is a type of bio fuel. Biogas is
            produced by the anaerobic digestion or fermentation of biodegradable materials such as biomass,
            manure, sewage, municipal waste, green waste, plant material and crops. Biogas comprises
            primarily methane and carbon dioxide and may have small amounts of hydrogen sulphide, moisture
            and siloxanes. The gases methane, hydrogen and carbon monoxide can be combusted or oxidized with
            oxygen. This energy release allows biogas to be used as a fuel. Biogas can be used as a fuel in
            any country for any heating purpose, such as cooking. It can also be used in anaerobic digesters
            where it is typically used in a gas engine to convert the energy in the gas into electricity and
            heat. Biogas can be compressed, much like natural gas, and used to power motor vehicles.
        </div>
    </li>

    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Process stages:</p>
        </div>
        <div class="accordion-content">
            The key process stages of anaerobic digestion <br/>
            There are four key biological and chemical stages of anaerobic digestion <br/> <br/>
            <ol>
                <li>Hydrolysis</li>
                <li>Acidogenesis</li>
                <li>Acetogenesis</li>
                <li>Methanogenesis</li>
            </ol>
            <br/>
            In most cases, biomass is made up of large organic polymers. For the bacteria in anaerobic
            digesters to access the energy potential of the material, these chains must first be broken down
            into their smaller constituent parts. These constituent parts, or monomers, such as sugars, are
            readily available to other bacteria. The process of breaking these chains and dissolving the
            smaller molecules into solution is called hydrolysis. Therefore, hydrolysis of these
            high-molecular-weight polymeric components is the necessary first step in anaerobic digestion.
            Through hydrolysis the complex organic molecules are broken down into simple sugars, amino
            acids, and fatty acids.
            Acetate and hydrogen produced in the first stages can be used directly by methanogens. Other
            molecules, such as volatile fatty acids (VFAs) with a chain length greater than that of acetate
            must first be catabolised into compounds that can be directly used by methanogens. The
            biological process of acidogenesis results in further breakdown of the remaining components by
            acidogenic (fermentative) bacteria. Here, VFAs are created, along with ammonia, carbon dioxide,
            and hydrogen sulfide, as well as other by-products. The process of acidogenesis is similar to
            the way milk sours.
            The third stage of anaerobic digestion is acetogenesis. Here, simple molecules created through
            the acidogenesis phase are further digested by acetogens to produce largely acetic acid, as well
            as carbon dioxide and hydrogen.
            The terminal stage of anaerobic digestion is the biological process of methanogenesis. Here,
            methanogens use the intermediate products of the preceding stages and convert them into methane,
            carbon dioxide, and water. These components make up the majority of the biogas emitted from the
            system. Methanogenesis is sensitive to both high and low PHS and occurs between pH 6.5 and pH 8.
            The remaining, indigestible material the microbes cannot use and any dead bacterial remains
            constitute the dig estate. A simplified generic chemical equation for the overall processes
            outlined above is as follows:C6H12O6 → 3CO2 + 3CH4
        </div>
    </li>

    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: What is biogas?</p>
        </div>
        <div class="accordion-content">
            Biogas is a gas produced by anaerobic digestion (in the absence of oxygen) of organic material, largely
            comprised of methane (about two-thirds). Biogas is often called "marsh gas" or "swamp gas" because it is
            produced by the same anaerobic processes that occur during the underwater decomposition of organic
            material in wetlands.
        </div>
    </li>

    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: What is a biodigester? </p>
        </div>
        <div class="accordion-content">
            A biodigester is a tank that processes the organic material that produces biogas. A biodigester can come
            in different shapes and sizes, depending on the needs of the people using it and the local possibilities
            in building materials.
        </div>
    </li>

    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: What material can I use to feed a biodigester? </p>
        </div>
        <div class="accordion-content">In theory, any organic material can be decomposed anaerobically to produce
            biogas, but some materials work better than others. In general, materials need to be rich in energy and
            easily digestible. Manure works very well, coming from cows, pigs, or horses. Biodigesters can be
            fashioned from septic tanks, but the waste production is often not enough to produce enough biogas, and
            cleaning agents (bleach etc.) kill the anaerobic bacteria necessary for digestion. Plant material can be
            used, but acidic matter should be avoided, for they disturb the anaerobic processes. Plant matter is
            also often low-energy and slow to digest, creating a number of difficulties for digesters relying solely
            on such material.
        </div>
    </li>

    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: What is the production capacity of a biodigester?</p>
        </div>
        <div class="accordion-content">
            This is probably THE MOST frequently asked question, and is the most difficult to answer for the
            following reasons:
            <br/>
            <ul>
                <li> --> Biogas production is best measured by scientific processes not common in rural areas.</li>
                <li> --> Biogas production varies with the type of material you use to feed the biodigester.</li>
                <li> --> Biogas production varies with the temperature of the mixture inside the tank.</li>
                <li> --> Biogas production varies with the acidity or alkalinity of the mixture inside the tank.</li>
                <li> --> Other factors, such as defects in manufacturing, leakages in pipeline, leakages in biogas
                    domes, biogas storage balloon, leakages in biogas handling equipments (blower or pressurizing
                    unit),can make true measurements of biogas production very difficult.
                </li>
            </ul>
        </div>
    </li>

    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: Are there different styles of biodigesters? </p>
        </div>
        <div class="accordion-content">
            Yes, There are many different styles of biodigesters.
        </div>
    </li>

    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: How does climate affect biogas production? </p>
        </div>
        <div class="accordion-content">Tropical climates generally have no problems with temperature because the
            anaerobic bacteria thrive in higher temperatures. If you live in a more temperate climate, you may need
            to heat the digester during colder months. The ideal temperature for the mesophilic bacteria is 38°C.
        </div>
    </li>

    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: If Biogas production has dropped quite a bit. How do one figure out what's wrong with the
                biodigester? </p>
        </div>
        <div class="accordion-content">There are a number of things that can affect the biogas production in a
            biodigester. <br/> <br/>
            --> Biogas leaks <br/>
            If there is very little biogas, there may be a leak somewhere. The biogas balloon and biogas pipeline
            should be checked for leakage. A simple soap solution can be used to detect the leakage.
            <br/>
            <br/>
            --> Temperature problems <br/>
            As stated before, if temperatures reach below 20°C, you will experience a drastic decrease in biogas
            production. If this is the case, look to adapt a heating system to your biodigester.
            <br/>
            <br/>
            --> Problems with the biodigester's pH <br/>
            The pH in the biodigester tank should be as close to neutral (7) as possible. Since the anaerobic
            processes in a biodigester produce acids, the most common pH problem is one of acidity. If you do a
            simple litmus test on the biodigester's contents and the result is below 7, you should add a small
            amount of lime or grounded lime stone to normalize the tank's pH. Since excessive amounts of lime will
            not be soluble in the mixture and may harm the bacteria, you should never exceed a lime concentration of
            500mg for every litre of mixture in the biodigester tank.
            <br/>
            <br/>
            -->Other problems <br/>
            There are a number of other problems that can arise during the life of a biodigester. To investigate
            problems, it is best to think back to the basics of what makes a biodigester work (organic material,
            strong seals, warmth) and eliminate anything else that could possibly harm its functioning. For example
            be careful not to introduce unnecessary chemicals into the tank, and try not to use livestock that has
            recently been given antibiotics or other medications, for these chemicals present in the manure may
            cause damage to the bacteria in the biodigester tank. Also, make sure to use non-corrosive materials for
            handling the gas and water. Cement and plastic cause no harm to the mixture in the tank, but metals
            should be avoided for use in the tank, or any of the tubing through which the biogas travels.
        </div>
    </li>

    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>What if biogas doesn’t fill inside the biogas dome/storage balloon? </p>
        </div>
        <div class="accordion-content">If Biogas doesn’t fill inside the biogas balloon please check the biogas outlet from
            the biodigester and the pipeline which connects the biogas balloon and the biodigester. If there is enough
            pressure to break the water column inside the gas fluid separation chamber then gas can easily escape from the
            chamber and will not be filled in the biogas balloon.
        </div>
    </li>
    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: What can I use the digested waste for? </p>
        </div>
        <div class="accordion-content">The digested material that comes out of the biodigester is a liquid material with
            little amount of solids in it eventually forced out as more undigested material enters the tank. This liquid can
            be used as a convenient growth stimulant for nearby plants.
        </div>
    </li>
    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: What is the time of installation of a Biogas Project? </p>
        </div>
        <div class="accordion-content">The installation period totally depends on the size of the biogas plant to be
            installed and for plants of 1000 kgs per day and above will generally take 45-60 days of installation period.
            Whereas we have smaller plants which are fabricated at our fabrication unit and the installation period will be
            less than a day.
        </div>
    </li>
    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: How to calculate the biogas plant design and gas production per day? </p>
        </div>
        <div class="accordion-content">These details will be completely informed by us to the client as this will be the key
            part of the project and although there are thumb rules available by which anyone can understand these parameters
            but based on our experience in this field we can get much more gas than the standard parameters available in the
            text books.
        </div>
    </li>
    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: Is there any Risk of Fire at site? </p>
        </div>
        <div class="accordion-content">Naked flames should not be allowed at the project site when the plant is in running
            condition.
        </div>
    </li>
    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: How long will be biogas used after generation? </p>
        </div>
        <div class="accordion-content">Biogas can be used either directly for thermal application or electricity generation
            or after upgradation as vehicular fuel or for thermal and electrical application.
        </div>
    </li>
    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: How much biogas can be stored at a time? </p>
        </div>
        <div class="accordion-content">Theoretically there is no limit for the storage but in practice it is advisable to
            have a storage capacity that can take care of around 12 hrs of biogas generation.
        </div>
    </li>
    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: What about Operation &amp; Maintenance along with the plant installation? </p>
        </div>
        <div class="accordion-content">IBA provides the traning for O &amp; M with our regional partners. Quarterly, a workshop
            is also arranged esp. to educate the operators from day to day problems. We are also planning to offer a diploma
            courses with the help of IIT.
        </div>
    </li>
    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: What is the energy content of biogas? </p>
        </div>
        <div class="accordion-content">Biogas with a methane content of 60% will have an energy content of around 4-6kWh
            /m3. If utilised for electric generation, 2kWh of useable electric is produced with the remainder turning into
            heat energy. The energy content can be increased considerably by upgrading the biogas to Bio-CNG or Bio-Methane,
            removing the CO2, providing a gas of suitable quality for injection into the national gas grid or for use as a
            transport fuel.
        </div>
    </li>
    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: What are the Environmental Benefits of Biogas? </p>
        </div>
        <div class="accordion-content">Methane has a greenhouse gas (GHG) factor 21 times greater than CO2. Capturing
            methane from any substrate (example- waste), which would otherwise be emitted to atmosphere, and utilizing it
            for other purposes will obviously reduce the GHG impact. Biogas energy is considered to be carbon neutral since
            carbon emitted by its combustion comes from organic matter that fixed the carbon from atmospheric CO2.
            Additionally utilising biogas will replace fossil fuels, a main contributor to GHG
        </div>
    </li>
    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: What is Bio - Methane/Bio - CNG? </p>
        </div>
        <div class="accordion-content">Bio – Methane or Bio - CNG means pipeline-quality gas derived from organic material.
            It is identical in properties to natural gas, but it is not derived from fossil fuels. Bio – methane/ Bio - CNG
            can be produced from biogas which has been cleaned or “upgraded” to meet natural gas pipeline specifications, by
            the removal of gases such as CO2 and hydrogen sulphide to leave an almost pure (90 - 98%) methane gas. Bio –
            methane/ Bio - CNG can be injected into the gas network or compressed for use in natural gas vehicles. Once in
            the gas network, it can be used in exactly the same way as natural gas (which is a fossil fuel).It can provide
            domestic or commercial cooking and heating, or be used as vehicle fuel in locations remote from the source of
            the gas. Bio – methane/ Bio - CNG injection offers increased scope to maximise the energy contained in biogas by
            moving it to where it is needed.
        </div>
    </li>
    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: Can I/We see any Biogas plant in working condition? </p>
        </div>
        <div class="accordion-content">Yes, you can visit the working plant to see and understand how a biogas plant works,
            please contact/visit our website to understand more on this topic
        </div>
    </li>
    <li class="sub-accordion">
        <div class="accordion-head">
            <div class="accordion-head-sign"></div>
            <p>Q: I/We want to understand more and want some more information? </p>
        </div>
        <div class="accordion-content">Please visit our website and take a personal appointment to understand more on the
            same topic or if you want some more information on Biogas.
        </div>
    </li>

    </ul>
    </div>
    <!-- grid9 -->

    <div class="grid_3">
        <img class="mbf" src="{{ STATIC_URL }}site/images/assets/havequestion.jpg" alt="#">


    </div>
    <!-- grid3 -->

    </div>
    <!-- row -->
    </div>
    <!-- end page content -->
{% endblock %}