{% extends "site/base.html" %}

{% block title %}Gallery{% endblock %}
{% block bread-crumb %}

    <div class="breadcrumb-place">
        <div class="row clearfix">
            <h3 class="page-title"> Gallery </h3>

            <div class="breadcrumbIn">
                <span> You are here: </span>
                <ul>
                    <li><a href="{% url "site-home" %}" title="Homepage"> <i class="icon-home"></i> </a></li>
                    <li>Gallery</li>
                </ul>
            </div>
            <!-- breadcrumbIn -->
        </div>
        <!-- row -->
    </div><!-- breadcrumb -->
{% endblock %}
{% block contents %}



    <div class="page-content">


        <div class="row clearfix mbs">
            <div class="grid_12">
                <ul class="portfolio clearfix">
                    <li class="grid_3" data-id="id-1" data-type="3d">
                        <div class="hover-fx">
                            <img src="{{ STATIC_URL }}site/images/gallery/thumbs/award.PNG" alt="#">
                            <a class="fRight" href="{{ STATIC_URL }}site/images/gallery/5183dc3e291d0.jpg" data-gal="lightbox[award]">
                                <span><i class="icon-eye-open"></i></span>
                            </a>
                        </div>
                        <div class="detailes">
                            <h5><a href="#">RASHTRIYA UDYOGA RATNA AWARD AND QUALITY BRANDS INDIA AWARD</a></h5>

                        </div>
                    </li>

                    <li class="grid_3" data-id="id-2" data-type="awards">
                        <div class="hover-fx">
                            <img src="{{ STATIC_URL }}site/images/gallery/thumbs/net.jpg" alt="#">
                            <a class="fRight" href="{{ STATIC_URL }}site/images/gallery/net.jpg" data-gal="lightbox[award]">
                                <span><i class="icon-eye-open"></i></span>
                            </a>
                        </div>
                        <div class="detailes">
                            <h5><a href="#">INTERNATIONAL BUSINESS AWARD THAILAND</a></h5>

                        </div>
                    </li>
                    <!-- portfolio item -->

                    <li class="grid_3" data-id="id-2" data-type="awards">
                        <div class="hover-fx">
                            <img src="{{ STATIC_URL }}site/images/gallery/thumbs/DSC_8492.JPG" alt="#">
                            <a class="fRight" href="{{ STATIC_URL }}site/images/gallery/DSC_8492.JPG" data-gal="lightbox[award]">
                                <span><i class="icon-eye-open"></i></span>
                            </a>
                        </div>
                        <div class="detailes">
                            <h5><a href="#">NATIONAL INDUSTRIAL EXCELLENCE AWARD</a></h5>

                        </div>
                    </li>


                </ul>

            </div>
            <!-- grid 12 -->
        </div>
        <!-- row -->
    </div><!-- end page content -->
{% endblock %}