{% extends 'site/base.html' %}

{% block contents %}
    {% include "site/partials/home/slider-3d.html" %}

    <div class="page-content">

        <div class="row clearfix mbs animated" data-gen="fadeInDownBig">
            <div class="action-simple">
                <h2>FRD Biomech Private Limited.</h2>
                <h5>A center for renewable energy</h5>
                <h5>An ISO 9001:2008 Certified Company</h5>


                <div class="grid_5">&nbsp;</div>
                <div class="grid_2"><a href="{{ STATIC_URL }}site/e-brochure.pdf" class="tbutton full" style="text-align: center"><span>Download Our Brochure</span></a>
                </div>
                <div class="clearfix"></div>


                <div class="clearfix">
                    <p class="animated" data-gen="fadeInLeftBig">
                    <h4>Don’t waste the ‘WASTES’</h4>

                </div>

                <div class="clearfix"></div>
            </div>


        </div>


        <!-- row -->
        <div class="row clearfix mbs">
            <p class="animated" data-gen="fadeInLeftBig">
                FRD BIOMECH PVT LTD is India’s leading company in manufacturing sector, rendering waste management services. Established on 2001 we
                were dealing with various fibre products. The DNA of the Director board is on one strand the engineers and the other highly
                experienced technical professionals to improve the stability of company’s projects. From 2009 onwards, our company focuses on
                utilizing the waste in a correct manner and better solutions for that which this whole planet is suffering to overcome. We manage to
                offer some solutions for waste processing and generation of energy through our key projects.
            </p>


            <p class="animated" data-gen="fadeInRightBig">
                Frd Biomech is having a unique ability of production of commercial portable biogas plants of high waste processing capacity daily. We
                use sophisticated techniques for the manufacturing of portable systems. Our products are mainly designed for high durability as we use
                FRP (FIBRE REINFORCED PLASTICS) and epoxy resin coating for its production. It gives a life time working feature for our biogas
                plants. Our various models starts from 10 L to 600 L daily waste capacity. Bio methanation is the basic principle which we follow. Our
                projects include energy generation and other types of waste management services other than portable systems.
            </p>

            <p class="animated" data-gen="fadeInLeftBig">
                Our core team is having high expertise in this field more than 40 years in FRP moulding techniques. Our R&amp;D team is well developed
                and is continually researching on new techniques of isolating methanogen bacteria for high and gentle working of our systems. Our
                qualified workers of 4 manufacturing units are converting their skill into high quality products which are highly durable and long
                lasting. All our products are vigorously tested and inspected before delivery. We are making customers hard earned money of investment
                into high return of benefits through our technical projects. Lower capital investment and low operation cost is our specialty
            </p>

            <p class="animated" data-gen="fadeInRightBig">
                Our network chain is developing day by day in the whole nation. Our motto of zero waste nation is attained through our super
                stockiest, dealers and customers throughout the nation. A real green nature is designed by us through our GREEN BUSINESS.
            </p>

            <div class="animated" data-gen="fadeInLeftBig">
                <h3>Our Mission</h3>

                <p>Our mission is to guide the people for "NATURAL LIVING”. To make a "GREEN NATURE"</p> <br/>

                <h3>Quality policy</h3>

                <p>
                    Our customer is central to all that we do. We provide value to our customers by innovating high performance
                    portable biogas plants and consistently "built in" industry-leading quality. We continuously strive to improve the
                    customer satisfaction. FRD BIOMECH PVT LTD is holding ISO 9001:2008 certification and "QUALITY BRANDS"
                    quality branding logo of Indian government.
                </p>

                <div class="grid_4">&nbsp;</div>
                <div class="grid_2" style="padding-top: 25px"><img src="{{ STATIC_URL }}site/images/home/logo_KVQA_QMS.GIF" alt="KVQA"/></div>
                <div class="grid_2"><img src="{{ STATIC_URL }}site/images/home/q-b-logo-12-14-new.jpg" alt="Quality Brands"/></div>

                <br/>
            </div>
            <div class="clearfix"></div>

            <div class="animated" data-gen="fadeInRightBig">
                <h3>Our Location</h3>

                <ul>
                    <li>-> Located in Thrissur, Kerala</li>
                    <li>-> God's own country.</li>
                    <li>-> Cultural capital of Kerala.</li>
                    <li>-> Quality Skilled manpower availability since the district has major educational institutions.</li>
                    <li>-> Established heavy industries supported with basic infrastructure and the ancillary units.</li>
                    <li>-> Excellent Connectivity to all parts of the State and the neighboring states through Road and Rail.</li>
                    <li>-> Logistically located to the Western and Eastern Costal Sea ports.</li>
                </ul>
            </div>
            <!---->
        </div>

        <!-- row -->
        {% include "site/partials/home/products.html" %}
        <!-- grey line -->

        <!--WHY CHOOSE US STARTS HERE-->
        <div class="row mbs clearfix">
            <div class="grid_3">
                <h3 class="col-title"> Why Choose Us? </h3><span class="liner"></span>
                <ul class="list">
                    <li><a><i class="icon-arrow-right"></i> 24 * 7 customer support</a></li>
                    <li><a><i class="icon-arrow-right"></i> Quick action against complaints</a></li>
                    <li><a><i class="icon-arrow-right"></i> All India Network</a></li>
                    <li><a><i class="icon-arrow-right"></i> 5 Star Customer Rating</a></li>
                    <li><a><i class="icon-arrow-right"></i> Skilled Labours</a></li>
                    <li><a><i class="icon-arrow-right"></i> Highly equipped manufacturing units and durable high quality products</a></li>
                </ul>
                <!-- end list -->


            </div>
            <!-- grid 3 -->

            <div class="grid_9 knob-box tac">
                <h3 class="tower">Our presence is well renowned for explicit quality and service which has started from gods own country Kerala &
                    walked across the whole nation</h3>
            </div>
            <!-- grid 6 -->


        </div>
        <!--WHY CHOOSE US ENDS HERE-->
        <!-- row -->
    </div>
{% endblock %}


{% block extra-scripts %}

    <script type='text/javascript'>
        var CSSettings = {"pluginPath" : "{{ STATIC_URL }}site/3d-slider"};
    </script>

    <script type='text/javascript' src='{{ STATIC_URL }}site/js/slider.min.js'></script>
    {#    <script type='text/javascript' src='{{ STATIC_URL }}site/3d-slider/templates/text-block/js/modernizr.js'></script>#}
    {#    <script type='text/javascript' src='{{ STATIC_URL }}site/3d-slider/js/cute.slider.js?ver=1.1.1'></script>#}
    {#    <script type='text/javascript' src='{{ STATIC_URL }}site/3d-slider/js/cute.transitions.all.js?ver=1.1.1'></script>#}
    {#    <script type='text/javascript' src='{{ STATIC_URL }}site/3d-slider/js/cute.css3d.module.js'></script>#}
    {#    <script type='text/javascript' src='{{ STATIC_URL }}site/3d-slider/js/cute.2d.module.js'></script>#}
    {#    <script type="text/javascript">#}
    {##}
    {#        jQuery(document).ready(function () {#}
    {#            jQuery(".br-slidecontrol li span").css("display", "none");#}
    {#            jQuery(".br-slidecontrol li:first-child span").css("display", "block");#}
    {#        });#}
    {##}
    {#        var slider = new Cute.Slider();#}
    {#        slider.setup("cute-slider", "bar-timer");#}
    {#        slider.play();#}
    {##}
    {#    </script>#}
{% endblock %}
