{% extends "site/base.html" %}

{% block title %}Products{% endblock %}

{% block bread-crumb %}

    <div class="breadcrumb-place">
        <div class="row clearfix">
            <h3 class="page-title"> Products </h3>

            <div class="breadcrumbIn">
                <span> You are here: </span>
                <ul>
                    <li><a href="{% url 'site-home' %}" title="Homepage"> <i class="icon-home"></i> </a></li>
                    <li> Products</li>
                </ul>
            </div>
            <!-- breadcrumbIn -->
        </div>
        <!-- row -->
    </div>
    <!-- breadcrumb -->
{% endblock %}

{% block contents %}


    <div class="page-content">

        <div class="row clearfix mbs">
            <div class="grid_12">
                <ul class="portfolio clearfix">
                    <li class="grid_6">
                        <div class="hover-fx">
                            <img src="{{ STATIC_URL }}site/images/products/product-10-L.png" alt="#">
                            <a class="fRight" href="{{ STATIC_URL }}site/images/products/product-10-L.png"
                               title="This model is with water jacket. Waste capacity per day is 10
                                liters.Space required 10 sq.ft. Gas produced average 1 hr per day." data-gal="lightbox">
                                <span><i class="icon-eye-open"></i></span>
                            </a>
                        </div>
                        <div class="detailes">
                            <h5><a href="#">Model Name "10 L"</a></h5>

                            <p><a href="#">This model is with water jacket. Waste capacity per day is 10
                                liters.Space required 10 sq.ft. Gas produced average 1 hr per day.</a></p>
                        </div>
                    </li>

                    <li class="grid_6">
                        <div class="hover-fx">
                            <img src="{{ STATIC_URL }}site/images/products/product-20-L.png" alt="#">
                            <a class="fRight" href="{{ STATIC_URL }}site/images/products/product-20-L.png"
                               title="This model is with water jacket. Waste capacity per day is 20 liters.Space required
                                16 sq.ft. Gas produced average 2 hr per day." data-gal="lightbox">
                                <span><i class="icon-eye-open"></i></span>
                            </a>
                        </div>
                        <div class="detailes">
                            <h5><a href="#">Model Name "20 L".</a></h5>

                            <p>This model is with water jacket. Waste capacity per day is 20 liters.Space required
                                16 sq.ft. Gas produced average 2 hr per day.</p>
                        </div>
                    </li>
                    <!-- portfolio item -->

                    <li class="grid_6">
                        <div class="hover-fx">
                            <img src="{{ STATIC_URL }}site/images/products/product-30-L.png" alt="#">
                            <a class="fRight" href="{{ STATIC_URL }}site/images/products/product-30-L.png"
                               title="This model is with water jacket. Waste capacity per day is 40 liters.Space required
                                24 sq.ft. Gas produced average 3.5 hr per day." data-gal="lightbox">
                                <span><i class="icon-eye-open"></i></span>
                            </a>
                        </div>
                        <div class="detailes">
                            <h5><a href="#">Model Name "40 L"</a></h5>

                            <p>This model is with water jacket. Waste capacity per day is 40 liters.Space required
                                24 sq.ft. Gas produced average 3.5 hr per day.</p>
                        </div>
                    </li>
                    <!-- portfolio item -->

                    <li class="grid_6">
                        <div class="hover-fx">
                            <img src="{{ STATIC_URL }}site/images/products/product-120-L.png" alt="#">
                            <a class="fRight" href="{{ STATIC_URL }}site/images/products/product-120-L.png"
                               title="This model is with water jacket. Waste capacity per day is 120 liters.Space required
                                50 sq.ft. Gas produced average 6 -7 hrs per day." data-gal="lightbox">
                                <span><i class="icon-eye-open"></i></span>
                            </a>
                        </div>
                        <div class="detailes">
                            <h5><a href="#">Model Name "120 L"</a></h5>

                            <p>This model is with water jacket. Waste capacity per day is 120 liters.Space required
                                50 sq.ft. Gas produced average 6 -7 hrs per day.</p>
                        </div>
                    </li>
                    <!-- portfolio item -->
                </ul>

            </div>
            <!-- grid 12 -->
        </div>
        <!-- row -->
    </div>
    <!-- end page content -->
{% endblock %}