{% extends "site/base.html" %}

{% block title %}Projects{% endblock %}
{% block bread-crumb %}

    <div class="breadcrumb-place">
        <div class="row clearfix">
            <h3 class="page-title"> Projects </h3>

            <div class="breadcrumbIn">
                <span> You are here: </span>
                <ul>
                    <li><a href="{% url 'site-home' %}" title="Homepage"> <i class="icon-home"></i> </a></li>
                    <li> Projects</li>
                </ul>
            </div>
            <!-- breadcrumbIn -->
        </div>
        <!-- row -->
    </div>
    <!-- breadcrumb -->
{% endblock %}
{% block contents %}


    <div class="page-content">
        <div class="row clearfix">

            <div class="mbt clearfix animated" data-gen="bounceInUp">
                <h3 class="col-title">DOMESTIC PORTABLE BIOGAS PLANTS</h3><span class="liner mb"></span>

                <div class="grid_8">
                    <p>
                        ortable biogas plants are famous for their movability and simplicity in handling. These are highly compact in nature.
                        They can be customized according to the needs of the users. So many prefabricated models are available in this segment.
                        Few are 10 L , 20 L etc to 600 L. this models are mainly selected by the customers who are owing
                        flats, apartments, individual houses etc. The main advantages of this equipment is easy to handle and less space to install.
                    </p>
                </div>
                <div class="grid_4">
                    <img src="{{ STATIC_URL }}site/images/projects/domestic-portable-biogas-plants.png" alt="DOMESTIC PORTABLE BIOGAS PLANTS"/>
                </div>
            </div>

            <div class="mbt clearfix animated" data-gen="bounceInUp">
                <h3 class="col-title">COMMERCIAL BIOGAS PLANTS</h3><span class="liner mb"></span>

                <div class="grid_8">
                    <h5>Portable</h5>

                    <p>
                        In portable the maximum daily capacity of the plant is 300 kg dry water plus 300 liters of water.
                        Mainly portable commercials can be made according to the space availability compromising its main dimensions.
                    </p>
                    <h5>Fixed</h5>

                    <p>
                        In fixed there is no maximum limit of waste. According to the space availability,
                        tons of waste of daily capacity holding models can be constructed underground.
                    </p>
                </div>

                <div class="grid_4">
                    <img src="{{ STATIC_URL }}site/images/projects/commercial-biogas-plants.png" alt="COMMERCIAL BIOGAS PLANTS"/>
                </div>
            </div>

            <div class="mbt clearfix animated" data-gen="bounceInUp">
                <h3 class="col-title">WASTE TO ELECTRICITY:</h3><span class="liner mb"></span>

                <div class="grid_8">
                    <p>
                        Waste can be converted to electricity. Biodegradable wastes such as food wastes; vegetable wastes etc are inputs
                        for waste to electricity projects. We can get these wastes from outside markets etc and these are cashless inputs.
                        Generation of electricity through conventional methods is very expensive. Normally from a 1 cubic meter plant the electricity
                        produced will be 1 kW. This gas is directly connected to biogas generator to produce electricity.
                    </p>
                    <ol>
                        <li>Using portable bio-gas of larger capacity</li>
                        <li>Using fixed type</li>
                    </ol>
                    <p>
                        These are the most cost efficient and output efficient method in energy generation than solar power plants.
                        Compared to other power generation method maintenance of this is comparatively less.
                    </p>

                    <p>In the markets two types of engines are available. One is hybrid which runs on both diesel and biogas and the
                        other uses 100% biogas as fuels.</p>
                </div>

                <div class="grid_4">
                    <img src="{{ STATIC_URL }}site/images/projects/waste-to-electricity.png" alt="WASTE TO ELECTRICITY"/>
                </div>
            </div>
            <!-- services -->

            <div class="mbt clearfix animated" data-gen="bounceInUp">
                <h3 class="col-title"> NIGHT SOIL PROJECTS:</h3><span class="liner mb"></span>

                <div class="grid_12">
                    <p>
                        The main waste disposal problems are seen in almost all Institutions like hostels, hospitals, convents, old age-homes, etc.
                        Night soil projects are actually a key solution for this problem. Night Soils are actually human excretions. With the help
                        of night soil project ksolution two problems are solved
                    </p>
                    <ol>
                        <li>Expensive cooking gas due to high consumption</li>
                        <li>Waste disposal cum septic tank troubles</li>
                    </ol>
                    <p>
                        These projects are actually done in new buildings, houses, hotels etc when these are in constructions. Setting up a biogas
                        plant in existing septic tanks is extremely expensive. We can produce methane from these human excreta as they are subjected
                        to the action of methanogen microbes. We can easily set up a biogas plants and septic tanks combined through our night soil
                        projects. The main advantage of this project is we can construct septic tanks for both sewage treatment and gas production through biogas.
                    </p>
                </div>
            </div>
            <!-- services big image center -->


            <div class="mbt clearfix animated" data-gen="bounceInUp">
                <h3 class="col-title">BIOGAS STORAGE BALLOONS</h3><span class="liner mb"></span>

                <div class="grid_8">
                    <p>
                        These projects are mainly implemented for mainly commercial models. Excess gas produced can be stored in portable type gas balloons.
                        If there is high availability of gas in domestic customers for that case we can provide 100 percentage domestic types of portable storage
                        balloons. Any sizes of balloons starting from 1 cubic meter can be made considering simplicity in handling and carrying. The main
                        advantage of storage balloons are gas can be stored and used when need arises.
                    </p>
                </div>

                <div class="grid_4">
                    <img src="{{ STATIC_URL }}site/images/projects/biogas-storage-balloons.png" alt="BIOGAS STORAGE BALLOONS"/>
                </div>
            </div>
            <!-- services icon image -->


            <div class="mbt clearfix animated" data-gen="bounceInUp">
                <h3 class="col-title">BIOADDITIVES FOR FUEL</h3><span class="liner mb"></span>

                <div class="grid_12">
                    <p>
                        Frd Biomech PVT LTD is also concerned about the pollution which kills the nature. To make this a success we are also marketing bio
                        additives which are main fuel supplements increases mileage and clear the carbon content in the engine which prevents the vehicle
                        to spit the black smoke which pollutes the nature. Bio additives are fully natural. This can be mixed up with diesel or petrol and
                        can be used in engines, generators etc. For automobiles if we use additives we can increase 25 percentage of the total mileage.
                        These are 100 % harmless and fully natural.
                    </p>
                </div>
            </div>
            <!-- services two column -->


            <div class="mbt clearfix animated" data-gen="bounceInUp">
                <h3 class="col-title">RAT KILLING INSTRUMENTS</h3><span class="liner mb"></span>

                <div class="grid_8">
                    <p>
                        FRD BIOMECH PVT LTD is also having projects in demolishing rats which are in excess numbers. The projects we are implementing
                        are not a traditional rat killing technique. This instrument traps the rat or mouse and kills them. It is very simple to use
                        and handy too. The food stuffs loaded in this is fed by the rat which is trapped in the cage by hitting the iron bangers loaded
                        at its top. So it is killed in seconds of time by this hard bang on its head. This killed rat can be directly fed into a biogas
                        plant. This projects are mainly implemented for warehouses, mills etc.
                    </p>
                </div>

                <div class="grid_4">
                    <img src="{{ STATIC_URL }}site/images/projects/rat-killing-instruments.png" alt="RAT KILLING INSTRUMENTS"/>
                </div>
            </div>
            <!-- services set 1 -->

        </div>
        <!-- row -->
    </div>
    <!-- end page content -->
{% endblock %}